# Environments
.venv
venv

# Byte-compiled / optimized / DLL files
__pycache__
build
dist
.coverage
*.egg-info

# Cache directories
*_cache

# Volumes
volume

# Symbolic links
sthali_auth
sthali_crud
sthali_db
